# Example for comment_edit.py class functionality

In [1]:
from comment_edit import functions
nyt = functions()

## 1. Articles with comments

returns a dataframe as a result

In [2]:
# generates clean urls for making API calls
urls = nyt.url_generate('https://www.nytimes.com/2020/01/28/world/asia/china-coronavirus.html??exampletrytry.html')

In [3]:
# Makes the api call, saves the json result from API in a list
jsons = nyt.url_call(urls)

len(jsons) # makes 10 calls - so should have 10

9

In [4]:
# Parses the json file to a dataframe
df = nyt.parse_json('https://www.nytimes.com/2020/01/28/world/asia/china-coronavirus.html', jsons)

C:\Users\bolim\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
df.head() # Output dataframe

,userName,cleanName,comment,n_recommend,n_reply,nyt_select,ttlCommentNum,time,time_order,time_order_cap,url,n_rec_log,ttl_comment_log,gender,date,category,category_,biz
0,Ivan,ivan,So the mortality rate is less than 3% of those...,26,13,False,360,2020-01-28 09:33:39,1,1,https://www.nytimes.com/2020/01/28/world/asia/...,3.295837,5.888878,0,'2020/01/28','/world/asia/',world,False
1,al,al,"Saying that ""known cases jumped nearly 60 perc...",56,4,False,360,2020-01-28 09:47:49,2,2,https://www.nytimes.com/2020/01/28/world/asia/...,4.043051,5.888878,0,'2020/01/28','/world/asia/',world,False
2,interested party,interested,Just when we need a real president we are sadd...,273,4,False,360,2020-01-28 09:48:01,3,3,https://www.nytimes.com/2020/01/28/world/asia/...,5.613128,5.888878,2,'2020/01/28','/world/asia/',world,False
3,Mike,mike,The Chinese made SARS and they made this new c...,41,12,False,360,2020-01-28 09:51:56,4,4,https://www.nytimes.com/2020/01/28/world/asia/...,3.737670,5.888878,0,'2020/01/28','/world/asia/',world,False
4,Ron A,ron,I'd like to read much more about the nature of...,5,4,False,360,2020-01-28 09:56:38,5,5,https://www.nytimes.com/2020/01/28/world/asia/...,1.791759,5.888878,0,'2020/01/28','/world/asia/',world,False

## 2. Articles _without_ comments

returns none

In [6]:
urls2 = nyt.url_generate('https://www.nytimes.com/2020/03/26/arts/design/art-basel-coronavirus.html?searchResultPosition=10')

In [7]:
jsons2 = nyt.url_call(urls2)

comments disabled in this article

In [8]:
jsons2 == None

True

## 3. `loop_through` function

This function loops through the urls and returns a dataframe of the articles added together.

The function skips (does not append) articles without comments.

In [9]:
# first two urls have comments, last url does not. Input format should be a list of urls in string
article_list = ['https://www.nytimes.com/2020/03/30/us/coronavirus-world-news-updates.html?searchResultPosition=2',
                'https://www.nytimes.com/2020/01/28/world/asia/china-coronavirus.html??exampletrytry.html',
                'https://www.nytimes.com/2020/03/26/arts/design/art-basel-coronavirus.html?searchResultPosition=10']

In [10]:
bigdf = nyt.loop_through(article_list) # If an article does not have comment section, message printed. Dataframe made nonetheless

comments disabled in this article

In [11]:
bigdf.head() # Returns dataframe

,userName,cleanName,comment,n_recommend,n_reply,nyt_select,ttlCommentNum,time,time_order,time_order_cap,url,n_rec_log,ttl_comment_log,gender,date,category,category_,biz
0,Barking Doggerel,barking,An unfortunately apt display of America's cult...,19,0,False,14,2020-03-30 13:51:22,1,1,https://www.nytimes.com/2020/03/30/us/coronavi...,2.995732,2.70805,2,'2020/03/30','/us/',us,False
1,Boredom,boredom,Not one of the singers shown in the collage ar...,8,0,False,14,2020-03-30 13:51:25,2,2,https://www.nytimes.com/2020/03/30/us/coronavi...,2.197225,2.70805,2,'2020/03/30','/us/',us,False
2,cassandra,cassandra,And that good old American marketing virus nev...,7,0,False,14,2020-03-30 16:44:42,3,3,https://www.nytimes.com/2020/03/30/us/coronavi...,2.079442,2.70805,1,'2020/03/30','/us/',us,False
3,Imagine,imagine,Paper plates and paper bowls are sold out on C...,17,2,False,14,2020-03-30 16:52:11,4,4,https://www.nytimes.com/2020/03/30/us/coronavi...,2.890372,2.70805,1,'2020/03/30','/us/',us,False
4,Julia,julia,We are (rightly!) hearing a lot of stories of ...,6,1,False,14,2020-03-30 17:32:47,5,5,https://www.nytimes.com/2020/03/30/us/coronavi...,1.945910,2.70805,1,'2020/03/30','/us/',us,False

In [12]:
bigdf.shape

(132, 18)

## 4. `get_all_articles_month` function

Generates a list of urls with all articles of that year and month. Filters out sections without comments to begin with (i.e. obituaries, crosswords, pageoneplus(edits), real estate, weddings, arts, parenting). Just need to enter the year and month in a string.

In [13]:
jan_2019 = nyt.get_all_articles_month('2019', '1')

In [14]:
len(jan_2019)

3599